
body, html {
  margin: 0;
  padding: 0;
  color: #000;
  background: #a7a09a;
}



header {
  background: #ddd;
  padding: 5px, 10px;
}

h1{
  margin: 0;
}

nav {
  padding: 5px, 10px;
  background: #c99;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0;
}


#main-container {
  margin: 0 auto;
  width: 750px;
  background: #99c;
}

h2{
  margin: 0 0 1em;
}

#column1 {
  float:left;
  width:480px;
  padding: 10px;
  background: #9c9;
}

#column1 ul {
  list-style: none;
}

#column2 {
  background-color: #99c;
  float: right;
  width: 230px;
  padding:10px;
}

#footer {
  clear:both;
  background: #cc9;
}
#footer p {
  margin:0;
}
